a{
	color: #5B8ABC;
}
.center{
	text-align: center;
}
.text{
	font-family: 'Josefin Sans';
	font-weight: lighter;
	/*font-family: 'Bad Script', cursive;*/
	font-size: 40px;
}
.green{
	background-color: #6AE368;
}
.blue{
	background-color: #5B8ABC;
	/*background-color: rgb(91, 192, 222);*/
}
.left-margin{
	margin-left: 30px;
}
.add-padding{
	padding: 30px 30px;
}
.header{
	height: 50px;
	margin-top: 30px;
}
.mac-section{
	margin-bottom: 30px;
}

.intro-section{
	height: 350px;
	/*background-color: #a6b2c4;*/
	color: white !important;
}
#intro{
	margin-top: 5%;
}
.intro-text{
	font-size: 2em;
	margin-top: 10%;
}
.intro-btn{
	margin-top: 5%;
	background-color: black;
	border-color: #f1f1f1 !important;
	color: #f1f1f1 !important;
}
.intro-btn:hover{
	border-color: #ccc !important;
}
.project-section{
	height: 700px;
	background-color: #4a4c51; 
}
.projects{
	border-bottom: thick groove white;
}
.project-panel{
	margin-top: 5%;
	background-color: #f1f1f1;
	box-shadow: 1px 2px 5px black;
	font-family: 'Roboto', sans-serif;
}
.project-title{
	font-size: 16px;
	margin-top: 10px;
}
.divider{
	border-bottom: 2px solid gray;
}
.project-text{
	color: white;
	font-size: 32px;
	margin-left: 10px;
	margin-top: 50px;
	font-family: 'Josefin Sans';
}