<div class="banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<p class="banner_text">Hi, I'm Emma</p>
			</div>
			<div class="offset-md-5 col-md-1">
				<img class="hamburger" src="/images/white_ham.png" ng-click="ham_click()">
				<div ng-show="isOpen" class="menu">
					<ul class="nav-menu">
						<li class="nav-item" ng-click="scroll(800)">Projects</li>
						<li class="nav-item"ng-click="resume()">Resume</li>
						<li class="nav-item" ng-click="scroll(1000)">Contact</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="about_section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p class="about_section_title">About Me</p>
			</div>
			<div class="col-md-12">
				<img class="about_section_pic" src="/images/about.png">
			</div>
			<div class="offset-md-1 col-md-10 offset-md-1">
				<p class="about_section_text">I'm Emma Fass, a junior at the University of Virgina studying Computer Science and Business. I enjoy web development and exploring big data. I recently studied abroad in Cape Town, South Africa through <a href="http://ixperience.co.za/`">iXperience</a>. Learn more about my past experiences by checking out my <a href="#/resume" class="resume"> resume.</a> </div> </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p class="about_section_title section_2">Projects</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<img class="about_section_pic" src="/images/about.png">
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 gallery-grid">
				<div class="img-box inter project">
      				<div class="hover-overlay">
						<p>I worked with a small group to encourage students at UVA to broaden their horizons through an international perspective.</p>
						<button type="button" class="btn btn-outline-primary" ng-click="inter()">View</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="img-box dress project">
					<div class="hover-overlay">
						<p>I created a quiz that determines a user's personality type based upon his or her fashion choices.</p>
						<button type="button" class="btn btn-outline-primary" ng-click="fashion()">View</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="img-box writing project">
					<div class="hover-overlay">
						<p>I interned with a marine science research agency in my home town where I wrote articles on current projects.</p>
						<button type="button" class="btn btn-outline-primary" ng-click="writing()">View</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p class="about_section_title section_2">Get in Touch</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<img class="about_section_pic" src="/images/about.png">
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul>
					<li class="about_section_social"><a class="fb" href="https://www.facebook.com/emma.fass"></a></li>
					<li class="about_section_social"><a class="gh" href="https://github.com/emmafass"></a></li>
					<li class="about_section_social"><a class="ln" href="https://www.linkedin.com/in/emmafass"></a></li>
					<li class="about_section_social"><a class="em" href="mailto:enf5cb@virginia.edu"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
