<section class="page">
	<div class="container-fluid">

		<!-- Top Section -->
		<div class="row top">
			<div class="col-md-12">
				<div class="row">
					<div class="offset-md-3 col-md-4">
						<img class="resume_prof" src="/images/banner_img.jpg">
					</div>
					<div class="col-md-5 contact">
						<div class="content">Emma Fass</div>
						<div class="content">enf5cb@virginia.edu</div>
						<a href="https://www.linkedin.com/in/emmafass"><div class="content">https://www.linkedin.com/in/emmafass</div></a>
						<div class="height"> </div>
						<div class="content nav">
							<button type="button" class="btn btn-outline-primary" ng-click="scroll(200)">Education</button>
							<button type="button" class="btn btn-outline-primary" ng-click="scroll(700)">Skills</button>
							<button type="button" class="btn btn-outline-primary" ng-click="scroll(1050)">Work</button>
							<button type="button" class="btn btn-outline-primary" ng-click="scroll(1800)">Leadership</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Education section header -->
		<div class="row" id="education">
			<div class="col-md-12">
				<p class="section_title lower_section"><ins>Education</ins></p>
			</div>
		</div>

		<!-- Education titles and dates -->
		<div class="row">
			<div class="col-md-3">
				<div class="title">University of Virginia</div>
			</div>
			<div class="offset-md-3 col-md-3">
				<div class="title">Hampton Roads Academy</div>
			</div>
		</div>

		<!-- image and content for UVA -->
		<div class="row">
			<div class="col-md-2">
				<a href="https://www.cs.virginia.edu/"><img class="resume_pic" src="/images/sabre.gif"></a>
			</div>
			<div class="col-md-4">
				<div class="content">Expected: May 2018</div>
				<div class="content">Computer Science Major, Business Minor</div>
				<div class="content">Relevant Coursework:
					<ul>
						<li>Algorithms</li>
						<li>Computer Architecture </li>
						<li>Program and Data Representation </li>
						<li>Software Development Techniques </li>
						<li>Human Computer Interfaces </li>
					</ul>
				</div>
			</div>

		<!-- image and content for HRA -->
			<div class="col-md-2">
				<a href="http://www.hra.org/page"><img class="resume_pic" src="/images/HRA.jpg"></a>
			</div>
			<div class="col-md-4">
				<div class="content">Graduated May 2014</div>
				<div class="content">Valedictorian</div>
				<div class="content">Cum Laude Society</div>
			</div>
		</div>

		<!-- Skills section header -->
		<div class="row" id="education">
			<div class="col-md-12">
				<p class="section_title lower_section"><ins>Skills</ins></p>
			</div>
		</div>

		<!-- Skills content -->
		<div class="row">
			<div class="offset-md-1 col-md-1 skill_l">
				<p>Java</p>
				<p>JavaScript</p>
				<p>Firebase</p>
				<p>Adobe Bridge</p>
			</div>
			<div class=" col-md-1 level_l">
				<p>Experienced</p>
				<p>Experienced</p>
				<p>Familiar</p>
				<p>Familiar</p>
			</div>
			<div class="offset-md-2 col-md-1 skill_m">
				<p>HTML</p>
				<p>C++</p>
				<p>Git</p>
				<p>Adobe InDesign</p>
			</div>
			<div class=" col-md-1 level_m">
				<p>Experienced</p>
				<p>Experienced</p>
				<p>Familiar</p>
				<p>Familiar</p>
			</div>
			<div class="offset-md-2 col-md-1 skill_r">
				<p>CSS</p>
				<p>C</p>
				<p>Linux</p>
				<p>Adobe Illustrator</p>
			</div>
			<div class="col-md-1 level_r">
				<p>Experienced</p>
				<p>Familiar</p>
				<p>Familiar</p>
				<p>Familiar</p>
			</div>
		</div>

		<!-- Work section -->
		<div class="row" id="work">
			<div class="col-md-12">
				<p class="section_title lower_section"><ins>Work Experience</ins></p>
			</div>
		</div>

		<!-- Liquid Thought title and date -->
		<div class="row">
			<div class="col-md-3">
				<div class="title">Liquid Thought</div>
			</div>
			<div class="offset-md-6 col-md-3">
				<div class="date">Summer 2016</div>
			</div>
		</div>

		<!-- content for Liquid Thought -->
		<div class="row">
			<div class="col-md-2">
				<a href="http://www.liquidthought.co.za/"><img class="resume_pic" src="/images/LQ.png"></a>
			</div>
			<div class="col-md-8">
				<ul>
					<li>Worked with a team of developers, product managers, and consultants to develop a minimal viable product for a multi-platform security system that can collect big data</li>
					<li>Developed a web application that allows users to easily schedule appointments and building managers to collect data on the visitors of their buildings</li>
					<li>Used Firebase to store user data and authenticate users on the backend</li>
				</ul>
			</div>
		</div>

		<!-- Research title and date -->
		<div class="row">
			<div class="col-md-4">
				<div class="title">Data Analytics Research Assistant</div>
			</div>
			<div class="offset-md-5 col-md-3">
				<div class="date">Summer 2016</div>
			</div>
		</div>

		<!-- content of Research -->
		<div class="row">
			<div class="col-md-2">
				<a href="https://www.cs.virginia.edu/"><img class="resume_pic cs_pic" src="/images/UVACS.png"></a>			
			</div>
			<div class="col-md-8">
				<ul>
					<li>Aided a PhD student by performing feature extraction from audio files</li>
					<li>Used WEKA software to determine which classifiers produced results with less than 10 percent
						error</li>
					<li>Connected additional audio files by processing online videos to expand the data set</li>
				</ul>
			</div>
		</div>

		<!-- VASG title and date -->
		<div class="row lower">
			<div class="col-md-5">
				<div class="title">Virginia Sea Grant Communications Office</div>
			</div>
			<div class="offset-md-4 col-md-3">
				<div class="date">Summer 2015</div>
			</div>
		</div>

		<!-- content of VASG -->
		<div class="row">
			<div class="col-md-2">
				<a href="http://vaseagrant.vims.edu/"><img class="resume_pic" src="/images/VIMS.gif"></a>
			</div>
			<div class="col-md-8">
				<ul>
					<li>Utilized strong communication skills and crafted media to convey scientific information to non-scientists</li>
					<li>Ensured the department met its goal of publishing two articles a week by writing over half of the content published during the ten-week internship including narratives, researcher biographies, and research summaries</li>
					<li>Conducted both in-person and phone interviews with marine science researchers, scientific
					writers, and interns</li>
				</ul>
			</div>
		</div>

		<!-- Leadership section -->
		<div class="row">
			<div class="col-md-12">
				<p class="section_title lower_section"><ins>Leadership Experience</ins></p>
			</div>
		</div>

		<!-- STS title and date -->
		<div class="row">
			<div class="col-md-3">
				<div class="title">International Awareness Project</div>
			</div>
			<div class="offset-md-6 col-md-3">
				<div class="date">Spring 2016</div>
			</div>
		</div>

		<!-- content of STS -->
		<div class="row">
			<div class="col-md-2">
				<a href="https://youtu.be/72Omd9Gi8KE"><img class="resume_pic" src="/images/earth.png"></a>
			</div>
			<div class="col-md-8">
				<ul>
					<li>Worked with two teammates in Engineering Teamwork &amp; Leadership in Context to identify and address international awareness and global diversity</li>
					<li>Guided conversations between students to create a dialogue about the issues</li>
					<li>Gave a formal presentation of our work to our classmates and faculty members</li>
					<li>Wrote a six-page executive summary that demonstrated the details of our project</li>
				</ul>
			</div>
		</div>

		<!-- Riding title and date -->
		<div class="row">
			<div class="col-md-3">
				<div class="title">University of Virginia Riding Team</div>
			</div>
			<div class="offset-md-6 col-md-3">
				<div class="date">Spring 2015 - Present</div>
			</div>
		</div>

		<!-- content of Riding -->
		<div class="row">
			<div class="col-md-2">
				<a href="http://virginiaridingteam.com/"><img class="resume_pic" src="/images/riding.png"></a>
			</div>
			<div class="col-md-8">
				<ul>
					<li>Handled a $10,000 budget for the approximately 80 person team</li>
				</ul>
			</div>
		</div>
		<div class="end"> </div>
	</div>
</section>