<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="page_title">Technical Writing Samples</h3>
		</div>
	</div>

	<div class="row">
		<div class="offset-md-1 col-md-10 offset-md-1">
			<p class="page_description">In Summer 2015, I worked as a technical writing intern for the government organization Virginia Sea Grant. During the internship, I interviewed scientists, studied marine science publications, and wrote articles to be published on the organization's <a href="http://vaseagrant.vims.edu/?s=emma+fass&x=0&y=0"> website </a>. I also learned photography skills and created an animated video meant to illustrate the effects of Barotrauma on fish. The video is shown below.</p>
		</div>
	</div>

	<div class="row">
		<div class="offset-md-3 col-md-6 offset-md-3">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/fREWb8kwRcE" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

</div>